<h1>
  Inspect Text!
</h1>
<p>Pick a color, a size and enter a word. Hover on the word to inspect.</p>

<div>
<label for="color">Color</label>
<input id="color" type="color" bind-value="pickedColor" (change)="onPickColor($event.target.value)">
</div>

<div>
<label for="size">Font size</label>
<input id="size" type="number" bind-value="size" min="20" max="50" (change)="onChangeFontSize($event.target.value)">
</div>

<div>
<label for="word">Word</label>
<input id="word" type="text" placeholder="enter a word" (keyup)="onEnterText($event.target.value)">
</div>
<!-- Example: component property binding -->
<!-- Example: directive property binding -->

<!-- I don't want to use word={{word}} as word is an array
and interpolation will change it to a string-->
<app-text [word]="word"
          [color]="pickedColor"
          [size]="size">
</app-text>

<div>
  Hex: {{pickedColor}}
  Font Size: {{size}}px
</div>
